.box{
   height: 100px;
}
.box1{
    background-color: rgb(179, 243, 76);
}

.box2{
    background-color: rgb(73, 184, 218);
}

.box3{
    background-color: rgb(232, 126, 247);
}

.box4{
    background-color: rgb(190, 93, 235);
}